@import "tailwindcss";

@theme {
	--color-main-bg: var(--main-background);
	--color-toggle-bg: var(--toggle-background);
	--color-keypad-bg: var(--keypad-background);
	--color-screen-bg: var(--screen-background);

	--color-delete-bg: var(--delete-background);
	--color-delete-sd: var(--delete-shadow);

	--color-equal-bg: var(--equal-background);
	--color-toggle-btn: var(--toggle-btn);
	--color-equal-sd: var(--equal-shadow);

	--color-key-bg: var(--key-background);
	--color-key-sd: var(--key-shadow);

	--color-primary-color: var(--text-color);
	--color-secondary-color: var(--text-white);
}

:root {
	/* Theme 1 */

	/* Backgrounds */
	--main-background: hsl(222, 26%, 31%);
	--toggle-background: hsl(223, 31%, 20%);
	--keypad-background: hsl(223, 31%, 20%);
	--screen-background: hsl(224, 36%, 15%);

	/* Delete Key */
	--delete-background: hsl(225, 21%, 49%);
	--delete-shadow: hsl(224, 28%, 35%);

	/* Equals Key */
	--equal-background: hsl(6, 63%, 50%);
	--toggle-btn: hsl(6, 63%, 50%);
	--equal-shadow: hsl(6, 70%, 34%);

	--key-background: hsl(30, 25%, 89%);
	--key-shadow: hsl(28, 16%, 65%);

	/* Text */

	--text-color: hsl(221, 14%, 31%);
	--text-white: hsl(0, 0%, 100%);
}

/* Theme 2 */
.theme-2 {
	/* Backgrounds */
	--main-background: hsl(0, 0%, 90%);
	--toggle-background: hsl(0, 5%, 81%);
	--keypad-background: hsl(0, 5%, 81%);
	--screen-background: hsl(0, 0%, 93%);

	/* Delete Key */
	--delete-background: hsl(185, 42%, 37%);
	--delete-shadow: hsl(185, 58%, 25%);

	/* Equals Key */
	--equal-background: hsl(25, 98%, 40%);
	--toggle-btn: hsl(25, 98%, 40%);
	--equal-shadow: hsl(25, 99%, 27%);

	--key-background: hsl(45, 7%, 89%);
	--key-shadow: hsl(35, 11%, 61%);

	/* Text */

	--text-color: hsl(60, 10%, 19%);
	--text-white: hsl(0, 0%, 100%);
}

/* Theme 3 */
.theme-3 {
	/* Backgrounds */
	--main-background: hsl(268, 75%, 9%);
	--toggle-background: hsl(268, 71%, 12%);
	--keypad-background: hsl(268, 71%, 12%);
	--screen-background: hsl(268, 71%, 12%);

	/* Delete Key */
	--delete-background: hsl(281, 89%, 26%);
	--delete-shadow: hsl(285, 91%, 52%);

	/* Equals Key */
	--equal-background: hsl(176, 100%, 44%);
	--toggle-btn: hsl(176, 100%, 44%);
	--equal-shadow: hsl(177, 92%, 70%);

	--key-background: hsl(268, 47%, 21%);
	--key-shadow: hsl(290, 70%, 36%);

	/* Text */

	--text-color: hsl(52, 100%, 62%);
	--text-white: hsl(0, 0%, 100%);
	--text-black: hsl(198, 20%, 13%);
}

body {
	font-family: "League Spartan";
	line-height: 1;
}
